
/* add_parcels_list */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Roboto-Regular.woff2) format("woff2"),
    url(../fonts/Roboto-Regular.ttf) format("ttf");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/Roboto-Light.woff2) format("woff2"),
    url(../fonts/Roboto-Light.ttf) format("ttf");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/Roboto-Black.woff2) format("woff2"),
    url(../fonts/Roboto-Black.ttf) format("ttf");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Roboto-Bold.woff2) format("woff2"),
    url(../fonts/Roboto-Bold.ttf) format("ttf");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Roboto-Medium.woff2) format("woff2"),
    url(../fonts/Roboto-Medium.ttf) format("ttf");
}

.modal-close.close-list-content {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    transition: 0.3s;
    z-index: 2;
}
.close-list-content svg * {
    fill: #5081e9;
}

.taskPopup-create-files-block{
    margin-bottom: 20px;
    margin-top: 0;
}

.taskPopup-create-task-title span{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold !important;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.taskPopup-create-task-priority{
    display: flex;
    align-items: center;
    margin-left: auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    color: #5081E9;
}

.taskPopup-create-task-priority svg{
    margin-right: 8px;
}

.clarify-timeline{

}

.clarify-timeline-items{
    max-height: 350px;
    overflow: auto;
    padding-right: 10px;
}

.clarify-timeline-items::-webkit-scrollbar {
    width: 8px;
}

.clarify-timeline-items::-webkit-scrollbar-thumb {
    background-color: #dadce0;
    border-radius: 4px;
}

.clarify-timeline-item{
    position: relative;
    display: flex;
    margin-top: 24px;
}

.clarify-timeline-item:first-child{
    margin-top: 0;
}

.clarify-timeline-left{
    display: flex;
    width: 104px;
    min-width: fit-content;
    margin-right: 18px;
}

.clarify-timeline-left-line{
    height: 100%;
    min-width: 15px;
    width: 15px;
}

.clarify-timeline-left-line:before{
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

.clarify-timeline-item.open .clarify-timeline-left-line:before{
    background: #5081E9;
    border: 2px solid #E5ECFC;
}

.clarify-timeline-item.in-progress .clarify-timeline-left-line:before{
    background: #EF814E;
    border: 2px solid #E5ECFC;
}

.clarify-timeline-item.reply .clarify-timeline-left-line:before{
    background: #5C0086;
    border: 2px solid #E5ECFC;
}

.clarify-timeline-item.reject .clarify-timeline-left-line:before{
    background: #CD2929;
    border: 2px solid #E5ECFC;
}

.clarify-timeline-item.success .clarify-timeline-left-line:before{
    background: #6CCC79;
    border: 2px solid #E5ECFC;
}

.clarify-timeline-left-line:after{
    content: "";
    position: absolute;
    top: 12px;
    left: 5px;
    width: 1px;
    height: calc(100% + 18px);
    border-radius: 50%;
}

.clarify-timeline-item:last-child .clarify-timeline-left-line:after{
    height: calc(100% - 20px);
}


.clarify-timeline-item.open .clarify-timeline-left-line:after{
    background: #5081E9;
}

.clarify-timeline-item.in-progress .clarify-timeline-left-line:after{
    background: #EF814E;
}

.clarify-timeline-item.reply .clarify-timeline-left-line:after{
    background: #5C0086;
}

.clarify-timeline-item.reject .clarify-timeline-left-line:after{
    background: #CD2929;
}

.clarify-timeline-item.success .clarify-timeline-left-line:after{
    background: #6CCC79;
}


.clarify-timeline-left-name{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.clarify-timeline-item.open .clarify-timeline-left-name{
    color: #5081E9;
}

.clarify-timeline-item.in-progress .clarify-timeline-left-name{
    color: #EF814E;
}

.clarify-timeline-item.reply .clarify-timeline-left-name{
    color: #5C0086;
}

.clarify-timeline-item.reject .clarify-timeline-left-name{
    color: #CD2929;
}

.clarify-timeline-item.success .clarify-timeline-left-name{
    color: #6CCC79;
}

.clarify-timeline-left-logo{
    margin-top: 10px;
}

.clarify-timeline-right{
    width: 100%;
}

.clarify-timeline-right-date{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #8C8C8C;
    margin-bottom: 8px;
}

.clarify-timeline-right-name{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #130F26;
    margin-bottom: 9px;
}

.clarify-timeline-right-massage{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    width: fit-content;
}

.clarify-timeline-item.open .clarify-timeline-right-massage{
    background: #E5ECFC;
    border-radius: 12px;
    padding: 14px 16px;
}

.clarify-timeline-item.in-progress .clarify-timeline-right-massage{
    background: #FFEEE7;
    border-radius: 12px;
    padding: 14px 16px;
}

.clarify-timeline-item.reply .clarify-timeline-right-massage{
    background: #F5E0FF;
    border-radius: 12px;
    padding: 14px 16px;
}

.clarify-timeline-item.reject .clarify-timeline-right-massage{
    background: #FFE1E5;
    border-radius: 12px;
    padding: 14px 16px;
}

.clarify-timeline-right-photo{
}

.clarify-timeline-photo-list{
    display: flex;
    flex-wrap: wrap;
}

.clarify-timeline-photo-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 122px;
    margin-right: 20px;
    margin-top: 14px;
    background: #E5ECFC;
    border-radius: 12px;
    padding: 16px;
}

.clarify-timeline-item.in-progress .clarify-timeline-photo-item{
    background: #FFEEE7;
}

.clarify-timeline-item.reply .clarify-timeline-photo-item{
    background: #F5E0FF;
}

.clarify-timeline-item.reject .clarify-timeline-photo-item{
    background: #FFE1E5;
}

.clarify-timeline-photo-item:after{
    content: "";
    position: absolute;
    top: -5px;
    left: 5px;
    display: block;
    width: 15px;
    height: 17px;
    background: url("../img/clarify/clip.svg") center center no-repeat;
}

.clarify-timeline-photo-item img{
    max-width: 90px;
}

.clarify-timeline-photo-item span{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #5081E9;
    margin-top: 8px;
}



.clarify-create-task-form{
    margin-top: 40px;
}

.clarify-timeline-radio-items{
    display: flex;
    justify-content: space-between;
}

.clarify-timeline-radio-item{
    width: 100%;
    max-width: 153px;
    margin-right: 21px;
}

.clarify-timeline-radio-item:last-child{
    margin-right: 0;
}

.clarify-timeline-radio-item input{
    display: none;
}

.clarify-timeline-radio-item label{
    display: flex;
    height: 48px;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    transition: 0.3s;
}

.clarify-timeline-radio-item label svg{
    margin-right: 8px;
}

.clarify-timeline-radio-item label svg path{
    transition: 0.3s;
}

.clarify-timeline-radio-item.violet label{
    border: 3px solid #F5E0FF;
    color: #5C0086;
}

.clarify-timeline-radio-item.yellow label{
    border: 3px solid #FFF5D4;
    color: #BC6300;
}

.clarify-timeline-radio-item.green label{
    border: 3px solid #E4FFD2;
    color: #4F9024;
}

.clarify-timeline-radio-item.red label{
    border: 3px solid #FFE1E5;
    color: #CD2929;
}

.clarify-timeline-radio-item input:checked + label{
    color: #FFFFFF;
}

.clarify-timeline-radio-item input:checked + label svg path{
    margin-right: 8px;
}

.clarify-timeline-radio-item.violet input:checked + label{
    background: #B07EC7;
}

.clarify-timeline-radio-item.yellow input:checked + label{
    background: #FD7D23;
}

.clarify-timeline-radio-item.green input:checked + label{
    background: #7EC84E;
}

.clarify-timeline-radio-item.red input:checked + label{
    background: #F2564F;
}

.clarify-timeline-radio-item input:checked + label svg path{
    fill: white;
}


@media screen and (min-width: 1550px){
    .taskPopup-content .taskPopup-left, .taskPopup-content .taskPopup-center, .taskPopup-content .taskPopup-right {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}

.clarify-timeline-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 40px;
}

.clarify-timeline-user{

}

.clarify-timeline-user-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #5081E9;
    margin-bottom: 10px;
}
.clarify-timeline-user-txt{
    display: none;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 32px;
    border-bottom: 1px solid #DEDEDE;
}

.clarify-timeline-user-txt.active {
    display: flex;
}

.clarify-timeline-user-txt-i{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.clarify-timeline-user-txt-ico{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clarify-timeline-user-txt-ico-i{
    margin-right: 15px;
}

.clarify-timeline-user-txt-ico-i:last-child{
    margin-right: 0;
}

.clarify-timeline-user-input{
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.clarify-timeline-user-input.active{
    display: flex;
}

.clarify-timeline-user-input textarea{
    min-height: 70px;
}

.clarify-timeline-user-input textarea,
.clarify-timeline-user-input input{
    background: #FFFFFF;
    border: 1px solid #DADCE0;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding: 12px;
    width: 100%;
    box-shadow: 0px 0px 0px 4px #f3f3f4;
}

.clarify-timeline-user-input textarea::placeholder,
.clarify-timeline-user-input input::placeholder{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.clarify-timeline-user-input-ico{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
}

.clarify-timeline-user-input-ico-i{
    margin-right: 15px;
}

.clarify-timeline-user-input-ico-i:last-child{
    margin-right: 0;
}

.clarify-left-item-small .taskPopup-left-name-medium{
    line-height: 20px;
}

.taskPopup-left-td-name{
    font-style: normal;
    font-weight: normal;
}

.top-status {
    margin-left: 15px;
}

.top-status > div {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.top-status > div svg{
    margin-right: 10px;
}

#clarify-popup .success{
    color: #7EC84E;
}

#clarify-popup .reply{
    color: #5C0086;
}

#clarify-popup .in-progress{
    color: #EF814E;
}

#clarify-popup .reject{
    color: #CD2929;
}

.taskPopup-create-task-form-bottom{
    justify-content: flex-end;
}

.taskPopup-left-item-top{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #7EC84E;
    padding-bottom: 40px;
}

.address-department{
    position: relative;
    display: flex;
    align-items: center;
}

.address-department:before{
    content: "";
    display: block;
    min-width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
}

.address-department.success:before{
    background: #6CCC79;
}

.address-department.reject:before{
    background: #CD2929;
}

.taskPopup-recipient-data-copy{
    margin: 0 -40px 20px;
    padding: 0 40px 18px;
    border-bottom: 1px solid #DEDEDE;
}

.taskPopup-recipient-data-copy .taskPopup-left-value a{
    margin-left: 8px;
}

.taskPopup-recipient-data-copy .taskPopup-left-value{
    display: flex;
    align-items: center;
}

.accordion-title-ico{
    margin-left: -5px;
}

.taskPopup-left-block.package-number{
    margin-bottom: 30px;
}

.accordion-block-wrap{
    max-height: 256px;
    min-width: 380px;
    padding-right: 20px;
}

.accordion-block{
    margin-top: -20px;
}

.taskPopup-create-task-title span:first-child{
    display: flex;
}


@media screen and (max-width: 1800px){
    .modal-close.close-list-content{
        right: 40px;
    }
    .accordion-block-wrap {
        min-width: 315px;
    }
}

@media screen and (max-width: 1550px){
    .accordion-block-wrap {
        min-width: 280px;
    }
    .taskPopup-recipient-data-copy {
        margin: 0 -15px 20px;
        padding: 0 15px 18px;
    }
}
