
/* add_parcels_list */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Roboto-Regular.woff2) format("woff2"),
    url(../fonts/Roboto-Regular.ttf) format("ttf");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/Roboto-Light.woff2) format("woff2"),
    url(../fonts/Roboto-Light.ttf) format("ttf");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/Roboto-Black.woff2) format("woff2"),
    url(../fonts/Roboto-Black.ttf) format("ttf");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Roboto-Bold.woff2) format("woff2"),
    url(../fonts/Roboto-Bold.ttf) format("ttf");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Roboto-Medium.woff2) format("woff2"),
    url(../fonts/Roboto-Medium.ttf) format("ttf");
}

.modal-close.close-list-content {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    transition: 0.3s;
    z-index: 2;
}
.close-list-content svg * {
    fill: #5081e9;
}

.taskPopup-create-task-form textarea{
    height: 48px;
    min-height: initial;
    padding: 15px;
    margin: 0;
}

.taskPopup-create-files-block{
    margin-bottom: 20px;
    margin-top: 0;
}

.taskPopup-create-task-title span{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold !important;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.taskPopup-create-task-priority{
    display: flex;
    align-items: center;
    margin-left: auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    color: #5081E9;
}

.taskPopup-create-task-priority svg{
    margin-right: 8px;
}

.clarify-timeline{
    padding-bottom: 10px;
    /*border-bottom: 1px solid #DEDEDE;*/
}

.clarify-timeline-items{
    overflow: auto;
    /*padding-right: 10px;*/
    min-height: 455px;
    max-height: 455px;

}

.clarify-timeline-items::-webkit-scrollbar {
    width: 8px;
}

.clarify-timeline-items::-webkit-scrollbar-thumb {
    background-color: #dadce0;
    border-radius: 4px;
}

.clarify-timeline-item{
    position: relative;
    display: flex;
    margin-top: 24px;
}

.clarify-timeline-item:first-child{
    margin-top: 0;
}

.clarify-timeline-left{
    display: flex;
    width: 135px;
    min-width: fit-content;
    margin-right: 18px;
}

.clarify-timeline-left-line{
    height: 100%;
    min-width: 20px;
    width: 20px;
}

.clarify-timeline-left-line:before{
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

.clarify-timeline-item.open .clarify-timeline-left-line:before{
    background: #5081E9;
    border: 2px solid #E5ECFC;
}

.clarify-timeline-item.in-progress .clarify-timeline-left-line:before{
    background: #FEA33D;
    border: 2px solid #FFF5D4;
}

.clarify-timeline-item.cancel .clarify-timeline-left-line:before{
    background: #FEA33D;
    border: 2px solid #FFF6EC;
}

.clarify-timeline-item.reply .clarify-timeline-left-line:before{
    background: #B07EC7;
    border: 2px solid #F5E0FF;
}

.clarify-timeline-item.reject .clarify-timeline-left-line:before{
    background: #F2564F;
    border: 2px solid #E5ECFC;
}

.clarify-timeline-item.success .clarify-timeline-left-line:before{
    background: #6CCC79;
    border: 2px solid #E5ECFC;
}

.clarify-timeline-left-line:after{
    content: "";
    position: absolute;
    top: 12px;
    left: 5px;
    width: 1px;
    height: calc(100% + 18px);
}

.clarify-timeline-item:last-child .clarify-timeline-left-line:after{
    height: calc(100% - 14px);
}


.clarify-timeline-item.open .clarify-timeline-left-line:after{
    background: #5081E9;
}

.clarify-timeline-item.in-progress .clarify-timeline-left-line:after{
    background: #FEA33D;
}

.clarify-timeline-item.cancel .clarify-timeline-left-line:after{
    background: #FEA33D;
}

.clarify-timeline-item.reply .clarify-timeline-left-line:after{
    background: #B07EC7;
}

.clarify-timeline-item.reject .clarify-timeline-left-line:after{
    background: #F2564F;
}

.clarify-timeline-item.success .clarify-timeline-left-line:after{
    background: #6CCC79;
}


.clarify-timeline-left-name{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.clarify-timeline-item.open .clarify-timeline-left-name{
    color: #5081E9;
}

.clarify-timeline-item.in-progress .clarify-timeline-left-name{
    color: #FEA33D;
}

.clarify-timeline-item.reply .clarify-timeline-left-name{
    color: #B07EC7;
}

.clarify-timeline-item.reject .clarify-timeline-left-name{
    color: #F2564F;
}

.clarify-timeline-item.success .clarify-timeline-left-name{
    color: #6CCC79;
}

.clarify-timeline-left-logo{
    margin-top: 10px;
    display: flex;
}

.clarify-timeline-right{
    width: 100%;
}

.clarify-timeline-right-date{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #8C8C8C;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.clarify-timeline-right-date:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #DEDEDE;
    margin-left: 20px;
}

.clarify-timeline-right-name{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #130F26;
    margin-bottom: 9px;
}

.clarify-timeline-right-massage{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    width: fit-content;
}

.clarify-timeline-item.open .clarify-timeline-right-massage{
    background: #E5ECFC;
    border-radius: 12px;
    padding: 14px 16px;
}

.clarify-timeline-item.in-progress .clarify-timeline-right-massage{
    background: #FFF5D4;
    border-radius: 12px;
    padding: 14px 16px;
}

.clarify-timeline-item.cancel .clarify-timeline-right-massage{
    background: #FFF6EC;
    border-radius: 12px;
    padding: 14px 16px;
    display: flex;
    align-items: center;
    font-weight: normal;
    color: #663C00;
}

.clarify-timeline-item.cancel .clarify-timeline-right-massage svg{
    margin-right: 8px;
}

.clarify-timeline-item.reply .clarify-timeline-right-massage{
    background: #F5E0FF;
    border-radius: 12px;
    padding: 14px 16px;
}

.clarify-timeline-item.reject .clarify-timeline-right-massage{
    background: #FFE1E5;
    border-radius: 12px;
    padding: 14px 16px;
}

.clarify-timeline-right-photo{
}

.clarify-timeline-photo-list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.clarify-timeline-photo-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 122px;
    margin-right: 20px;
    margin-top: 14px;
    background: #E5ECFC;
    border-radius: 12px;
    padding: 16px;
}

.clarify-timeline-item.in-progress .clarify-timeline-photo-item{
    background: #FFEEE7;
}

.clarify-timeline-item.reply .clarify-timeline-photo-item{
    background: #F5E0FF;
}

.clarify-timeline-item.reject .clarify-timeline-photo-item{
    background: #FFE1E5;
}

.clarify-timeline-photo-item:after{
    content: "";
    position: absolute;
    top: -5px;
    left: 5px;
    display: block;
    width: 15px;
    height: 17px;
    background: url("../img/clarify/clip.svg") center center no-repeat;
}

.clarify-timeline-photo-item img{
    max-width: 90px;
}

.clarify-timeline-photo-item span{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #5081E9;
    margin-top: 8px;
}



.clarify-create-task-form{
    margin-top: 24px;
}

.clarify-timeline-radio-items{
    display: flex;
    margin-bottom: 24px;
    /*justify-content: space-between;*/
}

.clarify-timeline-radio-item{
    position: relative;
    /*width: 100%;*/
    max-width: 153px;
    margin-right: 8px;
}


.clarify-timeline-radio-item label:before{
    content: "";
    position: absolute;
    display: block;
    top: 5px;
    left: 6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000000;
}

.clarify-timeline-radio-item.violet label:before{
    border: 1px solid #000000;
}

.clarify-timeline-radio-item.yellow label:before{
    border: 1px solid #FD7D23;
}

.clarify-timeline-radio-item.green label:before{
    border: 1px solid #6CCC79;
}

.clarify-timeline-radio-item.red label:before{
    border: 1px solid #F2564F;
}

.clarify-timeline-radio-item:last-child{
    margin-right: 0;
}

.clarify-timeline-radio-item input{
    display: none;
}

.clarify-timeline-radio-item label{
    display: flex;
    height: 34px;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    transition: 0.3s;
    padding-left: 32px;
    padding-right: 8px;
    position: relative;
    z-index: 2;
    padding-top: 1px;
}

.clarify-timeline-radio-item label svg{
    margin-right: 8px;
}

.clarify-timeline-radio-item label svg path{
    transition: 0.3s;
}

.clarify-timeline-radio-item.violet label{
    border: 3px solid #F5E0FF;
    color: #5C0086;
}

.clarify-timeline-radio-item.yellow label{
    border: 2px solid #FFF5D4;
    color: #FD7D23 !important;
}

.clarify-timeline-radio-item.green label{
    border: 2px solid #DDFFE2;
    color: #6CCC79 !important;
}

.clarify-timeline-radio-item.red label{
    border: 2px solid #FFE1E5;
    color: #F2564F !important;
}

/*.clarify-timeline-radio-item input:checked + label{*/
/*    color: #FFFFFF;*/
/*}*/

.clarify-timeline-radio-item input:checked + label svg path{
    margin-right: 8px;
}

/*.clarify-timeline-radio-item.violet input:checked + label{*/
/*    background: #B07EC7;*/
/*}*/

/*.clarify-timeline-radio-item.yellow input:checked + label{*/
/*    background: #FD7D23;*/
/*}*/

/*.clarify-timeline-radio-item.green input:checked + label{*/
/*    background: #7EC84E;*/
/*}*/

/*.clarify-timeline-radio-item.red input:checked + label{*/
/*    background: #F2564F;*/
/*}*/

.clarify-timeline-radio-item.violet input:checked :before{
    background: #B07EC7 url("../img/clarify/check-white.svg") center center no-repeat;
}

.clarify-timeline-radio-item.yellow input:checked + label:before{
    background: #FD7D23 url("../img/clarify/check-white.svg") center center no-repeat;
}

.clarify-timeline-radio-item.green input:checked + label:before{
    background: #7EC84E url("../img/clarify/check-white.svg") center center no-repeat;
}

.clarify-timeline-radio-item.red input:checked + label:before{
    background: #F2564F url("../img/clarify/check-white.svg") center center no-repeat;
}

.clarify-timeline-radio-item input:checked + label svg path{
    fill: white;
}


@media screen and (min-width: 1550px){
    .taskPopup-content .taskPopup-left, .taskPopup-content .taskPopup-center, .taskPopup-content .taskPopup-right {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}

.clarify-timeline-title{
    font-style: normal;
    font-size: 24px;

    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.clarify-timeline-right-comment-item{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    padding: 14px 16px;
    margin-top: 24px;
}

.clarify-timeline-right-comment-item.blue{
    background: #E5ECFC;
    border-radius: 12px;
}

.clarify-timeline-right-comment-item.cancel{
    background: #fff6ec;
    border-radius: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #663C00 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clarify-timeline-right-comment-item.cancel svg{
    margin-right: 14px;
}


.clarify-timeline-title.open {
    color: #5081E9;
}

.clarify-timeline-title.in-progress {
    color: #EF814E;
}

.clarify-timeline-title.reply {
    color: #5C0086;
}

.clarify-timeline-title.reject {
    color: #CD2929;
}

.clarify-timeline-title.success {
    color: #6CCC79;
}

.clarify-timeline-user-data{
    margin-top: 24px;
}

.clarify-timeline-user{

}

.clarify-timeline-user-row{
    display: flex;
    margin: 0 -21px;
}

.clarify-timeline-user-row .clarify-timeline-user{
    width: 50%;
    padding: 0 21px;
}

.clarify-timeline-user-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #5081E9;
    margin-bottom: 10px;
}
.clarify-timeline-user-txt{
    display: none;
    align-items: center;
    /*justify-content: space-between;*/
    padding-bottom: 8px;
    margin-bottom: 32px;
    border-bottom: 1px solid #DEDEDE;
}

.clarify-timeline-user-txt.active {
    display: flex;
}

.clarify-timeline-user-txt-i{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.clarify-timeline-user-txt-ico{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.clarify-timeline-user-txt-ico-i{
    margin-right: 15px;
    display: flex;
}

.clarify-timeline-user-txt-ico-i:last-child{
    margin-right: 0;
    margin-left: 10px;
}

.clarify-timeline-user-input{
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.clarify-timeline-user-input.active{
    display: flex;
}

.clarify-timeline-user-input textarea{
    min-height: 70px;
}

.clarify-timeline-user-input textarea,
.clarify-timeline-user-input input{
    background: #FFFFFF;
    border: 1px solid #DADCE0;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding: 12px;
    width: 100%;
    box-shadow: 0px 0px 0px 4px #f3f3f4;
}

.clarify-timeline-user-input textarea::placeholder,
.clarify-timeline-user-input input::placeholder{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.clarify-timeline-user-input-ico{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
}

.clarify-timeline-user-input-ico-i{
    margin-right: 15px;
}

.clarify-timeline-user-input-ico-i:last-child{
    margin-right: 0;
}

.clarify-left-item-small .taskPopup-left-name-medium{
    line-height: 20px;
}

.taskPopup-left-td-name{
    font-style: normal;
    font-weight: normal;
    vertical-align: top;
}

.top-status {
    margin-left: 15px;
}

.top-status > div {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.top-status > div svg{
    margin-right: 10px;
}



#clarify-popup .success{
    color: #6CCC79;
}

#clarify-popup .reply{
    color: #B07EC7;
}

#clarify-popup .in-progress{
    color: #FEA33D;
}

#clarify-popup .cancel{
    color: #FEA33D;
}

#clarify-popup .reject{
    color: #F2564F;
}

#clarify-popup .open-status{
    color: #5081E9;
}

.taskPopup-create-task-form-bottom{
    justify-content: space-between;
}


.clarify-timeline-item.reopen .clarify-timeline-left:before{
    content: "";
    display: block;
    width: 11px;
    height: 9px;
    background: white;
    position: absolute;
    top: 0;
    margin-top: -32px;
    z-index: 2;
}

.clarify-timeline-item.reopen .clarify-timeline-left:after{
    content: "";
    display: block;
    width: 1px;
    height: calc(25px);
    background: blue;
    position: absolute;
    top: 0;
    margin-top: -23px;
    left: 5px;
    z-index: 0;
}

.clarify-timeline-item.reopen .clarify-timeline-left svg{
    top: 0;
    position: absolute;
    left: -1px;
    z-index: 3;
    margin-top: -34px;
}

.clarify-timeline-item.reopen .clarify-timeline-left svg path:first-child{
    fill: #CD2929;
}

.clarify-timeline-item.reopen.reopen-in-process .clarify-timeline-left:after{
    background: #fea33d;
}

.clarify-timeline-item.reopen.reopen-reject .clarify-timeline-left:after{
    background: #f2564f;
}

.clarify-timeline-item.reopen.reopen-in-process .clarify-timeline-left svg path:first-child{
    fill: #6CCC79;
}

.clarify-timeline-item.reopen.reopen-in-process .clarify-timeline-left svg path:last-child{
    fill: #FEA33D;
}

.clarify-timeline-item.reopen.reopen-reject .clarify-timeline-left svg path:first-child{
    fill: #FEA33D;
}

.clarify-timeline-item.reopen.reopen-reject .clarify-timeline-left svg path:last-child{
    fill: #f2564f;
}




.clarify-timeline-item.in-progress + .clarify-timeline-item.success svg path:first-child{
    fill: #FEA33D;
}
.clarify-timeline-item.in-progress + .clarify-timeline-item.success svg path:last-child{
    fill: #6CCC79;
}
.clarify-timeline-item.in-progress + .clarify-timeline-item.success .clarify-timeline-left:after{
    background: #6ccc79;
}


.clarify-timeline-item.solve + .clarify-timeline-item.in-progress svg path:first-child{
    fill: #6CCC79;
}
.clarify-timeline-item.solve + .clarify-timeline-item.in-progress svg path:last-child{
    fill: #FEA33D;
}
.clarify-timeline-item.solve + .clarify-timeline-item.in-progress .clarify-timeline-left:after{
    background: #FEA33D;
}


.clarify-timeline-item.reject + .clarify-timeline-item.in-progress svg path:first-child{
    fill: #F2564F;
}
.clarify-timeline-item.reject + .clarify-timeline-item.in-progress svg path:last-child{
    fill: #FEA33D;
}
.clarify-timeline-item.reject + .clarify-timeline-item.in-progress .clarify-timeline-left:after{
    background: #FEA33D;
}



.clarify-timeline-item.open + .clarify-timeline-item.in-progress svg path:first-child{
    fill: #5081E9;
}
.clarify-timeline-item.open + .clarify-timeline-item.in-progress svg path:last-child{
    fill: #FEA33D;
}
.clarify-timeline-item.open + .clarify-timeline-item.in-progress .clarify-timeline-left:after{
    background: #FEA33D;
}



.clarify-timeline-item.in-progress + .clarify-timeline-item.reject svg path:first-child{
    fill: #FEA33D;
}
.clarify-timeline-item.in-progress + .clarify-timeline-item.reject svg path:last-child{
    fill: #F2564F;
}
.clarify-timeline-item.in-progress + .clarify-timeline-item.reject .clarify-timeline-left:after{
    background: #F2564F;
}

.taskPopup-create-task-content{
    padding-bottom: 0;
}

.send-btn-wrap{
    position: relative;
}

.send-btn{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    right: 16px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}


.clarify-create-btn{
    display: none;
}

.clarify-create-btn.open{
    display: block;
}

.clarify-timeline-right-comment-photos{
    display: flex;
    margin: 0 -10px;
    margin-top: 16px;
}

.clarify-timeline-right-comment-photo{
    background: #F3F3F4;
    border-radius: 12px;
    width: 33%;
    margin: 0px 10px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clarify-timeline-right-comment-photo img{
    max-width: 100%;
    max-height: 80px;
}

.clarify-timeline-right-data{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 24px;
}

/*.lb-outerContainer {*/
/*    width: 690px !important;*/
/*    height: 540px !important;*/
/*    display: flex;*/
/*    position: relative;*/
/*    justify-content: center;*/
/*    border-radius: 0 !important;*/
/*    border-top-left-radius: 12px !important;*/
/*    border-top-right-radius: 12px !important;*/
/*}*/

/*.lightbox .lb-image{*/
/*    width: 610px !important;*/
/*    height: 455px !important;*/
/*    border-radius: 0 !important;*/
/*    margin-top: 60px;*/
/*    margin-bottom: 40px;*/
/*}*/

/*.lb-number{*/
/*    display: none !important;*/
/*}*/

/*.lb-dataContainer{*/
/*    width: 690px !important;*/
/*    background: white;*/
/*    opacity: 1 !important;*/
/*    display: block !important;*/
/*    border-radius: 0 !important;*/
/*    border-bottom-left-radius: 12px !important;*/
/*    border-bottom-right-radius: 12px !important;*/
/*}*/

/*.lb-data .lb-close{*/
/*    top: 6px;*/
/*    position: absolute;*/
/*    right: 50%;*/
/*    margin-right: -340px;*/
/*    z-index: 10;*/
/*    opacity: 1;*/
/*    background: url("../img/close-popup.svg") center center no-repeat !important;*/
/*}*/

/*.lb-caption{*/
/*    !*position: relative;*!*/
/*    !*background: rgb(0, 0, 0, 0.4);*!*/
/*    !*border-radius: 0px 0px 12px 12px;*!*/
/*    !*height: 160px;*!*/
/*    !*margin-top: -160px;*!*/
/*    !*z-index: 20;*!*/

/*    display: flex;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/

/*    font-family: Roboto;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    font-size: 24px !important;*/
/*    line-height: 22px !important;*/
/*    padding-bottom: 40px;*/

/*    color: #000000;*/
/*}*/

/*.lb-caption a{*/
/*    margin-top: 24px;*/
/*    font-family: Roboto;*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    font-size: 14px !important;*/
/*    line-height: 16px !important;*/
/*    color: #5081E9 !important;*/
/*    padding-left: 20px;*/

/*    background: url("../img/clarify/download.svg") left center no-repeat;*/
/*}*/

/*.lb-data .lb-details{*/
/*    width: 100% !important;*/
/*}*/

.lb-nav a.lb-next{
    background: url('../../../images/next.png') right 48% no-repeat!important;
}

.lb-nav a.lb-prev{
    background: url('../../../images/prev.png') left 48% no-repeat;
}

.ml-auto{
    margin-left: auto;
}

.taskPopup-create-btns{
    align-items: flex-start;
}

.taskPopup-create-btn{
    margin-top: 9px;
}

.taskPopup-create-btn.reopen-btn svg{
    position: relative;
    top: 3px;
}

.taskPopup-create-btn.reopen-btn svg path{
    fill: #5081E9;
    transition: 0.3s;
}

.taskPopup-create-btn.reopen-btn:hover svg path{
    fill: white;
}

.reopen-hide{
    display: none;
}

@media screen and (max-width: 1800px){
    .modal-close.close-list-content{
        right: 40px;
    }
    .accordion-block-wrap {
        min-width: 315px;
    }
}

@media screen and (max-width: 1550px){
    .accordion-block-wrap {
        min-width: 280px;
    }
    /*.taskPopup-recipient-data-copy {*/
    /*    margin: 0 -15px 24px;*/
    /*    padding: 0 15px 24px;*/
    /*}*/

    .clarify-timeline-items{
        min-height: 505px;
        max-height: 505px;
    }
}

@media screen and (min-height: 875px) {

    #clarify-popup .modal-dialog{
        height: 93vh;
    }
}


.filepond--root{
    max-height: 165px;
}

.filepond--root .filepond--drop-label {
    min-height: 2.75em !important;
}

#crmParcelOpenTask .filepond--drop-label label{
    position: absolute;
    top: 0;
    left: 0;
}

.filepond--root .filepond--list-scroller {
    height: 100%;
    max-height: 140px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.filepond--list{
    max-height: 120px;
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
}
.filepond--list::-webkit-scrollbar {
    width: 8px;
}

.filepond--list::-webkit-scrollbar-thumb {
    background-color: #dadce0;
    border-radius: 4px;
}



.clarify-timeline--border-bottom{
    border-bottom: 1px solid #DEDEDE;
}

.request-number{
    margin-top: 24px;
    max-width: 245px;
}

.request-number__name{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 8px;
}

.clarify-timeline-input{
    resize: none;
    color: #000;
    background: #f3f3f4;
    box-shadow: 0 0 0 3px #f3f3f4;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid transparent;
    padding: 15px;
    width: 100%;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    height: 48px;
    min-height: initial;
    margin: 0;
    margin-left: 3px;
    margin-right: 3px;
}

.clarify-timeline-input:focus{
    background: #fff;
    color: #000;
    border: 1px solid #dadce0;
    box-shadow: 0 0 0 3px #f3f3f4;
}

.request-number__field {
    position: relative;
}

.request-number__field:before {
    content: "";
    position: absolute;
    top: 16px;
    left: 16px;
    display: block;
    width: 16px;
    height: 16px;
}

.request-number__field .clarify-timeline-input::placeholder{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #989899;
}

.request-number__field .clarify-timeline-input{
    padding-left: 48px;
}

.taskPopup-create-btn--call-courier{
    margin-top: 20px;
}

.request-number--notino .request-number__field:before{
    background: url("../img/clarify/request-num-img.svg") center center no-repeat;
}

.request-number--meest .request-number__field:before{
    background: url("../img/clarify/meest-small.svg") center center no-repeat;
}

.confirmation-popup.call-courier .confirmation-popup__inner{
    min-height: auto;
}

.confirmation-popup__table.confirmation-popup__table--rows-small{
    padding-bottom: 8px;
}

.clarify-timeline-right-massage--inner-bg{
    border: 0.5px solid #FEA33D;
    box-sizing: border-box;
    border-radius: 12px;
    background: transparent !important;
    padding: 14px 16px;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    margin-bottom: 15px;
}

.clarify-timeline-right-massage__inner{
    display: flex;
    align-items: center;
}

.clarify-timeline-right-massage__inner-bg{
    display: flex;
    align-items: center;
    background: #FFF5D4;
    border-radius: 8px;
    padding: 7px 8px;
    margin-left: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.clarify-timeline-right-color-number{
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 16px;
}

.clarify-timeline-right-color-number--orange{
    background: #FFF5D4;
}

.clarify-timeline-right-color-number--green{
    background: #DDFFE2;
}

.clarify-timeline-right-color-number--orange svg path{
    fill: #FEA33D;
}

.clarify-timeline-right-color-number--green svg path{
    fill: #6CCC79;
}

.clarify-timeline-user-top{
    display: flex;
    align-items: center;
    width: 100%;
}

.clarify-timeline-user-col{
    margin-right: 10px;
}

.clarify-timeline-item.success .clarify-timeline-right-massage .clarify-timeline-right-massage__inner-bg{
    background: #DDFFE2;
}

.clarify-timeline-item.success .clarify-timeline-right-massage--inner-bg{
    border: 0.5px solid #6CCC79;
}

.taskPopup-create-task-title .taskPopup-create-btn{
    padding: 8px 19px;
    margin-left: auto;
}

.according-item .taskPopup-left-title{
    margin-bottom: 15px;
}