.parcels_list_popup .modal-content {
  min-height: 600px;
  max-width: 600px;
  border-radius: 12px !important;
}

/* add_parcels_list */
@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Roboto-Regular.woff2) format("woff2"),
    url(../fonts/Roboto-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Roboto-Light.woff2) format("woff2"),
    url(../fonts/Roboto-Light.ttf) format("ttf");
}
@font-face {
  font-family: "Roboto-Black";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/Roboto-Black.woff2) format("woff2"),
    url(../fonts/Roboto-Black.ttf) format("ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Roboto-Bold.woff2) format("woff2"),
    url(../fonts/Roboto-Bold.ttf) format("ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Roboto-Medium.woff2) format("woff2"),
    url(../fonts/Roboto-Medium.ttf) format("ttf");
}

.parcels_list_content {
  padding: 36px 48px 40px;
  height: 100%;
}

.parcels_list_content_title {
  font-family: "Roboto-Bold";
  font-size: 18px;
  line-height: 156%;
  color: #000000;
  margin-bottom: 13px;
}
.parcels_list_wrapper {
  border-radius: 12px;
  border: 1px solid #f2f2f2;
  margin-bottom: 26px;
  padding: 19px 0;
  padding-right: 16px;
}
.parcels_list_container {
  padding: 0 8px;
  padding-top: 3px;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 260px);
}
.parcels_list_container::-webkit-scrollbar {
  width: 3px;
}

.parcels_list_container::-webkit-scrollbar-thumb {
  background-color: #dadce0;
  border-radius: 4px;
}

.parcels_list_item {
  padding: 11px 16px;
  background: #e5ecfc;
  border-radius: 12px;
  overflow: hidden;
  color: #000;
  background: #fff;
  box-shadow: 0 0 0 3px #f3f3f4;
  box-sizing: border-box;
  margin-bottom: 14px;
  cursor: pointer;
}

.parcels_list_item:hover label{
  color: #0b76ef;
}
.parcels_list_item:hover label::before {
  border-color: #0b76ef;
}
.parcels_list_item.bg_active {
  background-color: #e5ecfc;
  box-shadow: 0 0 0 3px #e5ecfc;
}
.parcels_list_item_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.parcels_list_item_check label {
  font-family: "Roboto-Medium";
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  transition: 0.3s;
}

.parcels_list_item_btns {
  display: flex;
}
.parcels_list_item_btn {
  /* cursor: pointer; */
}
.parcels_list_item_btn:not(:last-child) {
  margin-right: 11px;
}
.parcels_list_item_check {
  margin: 0;
  line-height: 18px;
}
.custom-parcels-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-parcels-checkbox + label {
  display: flex;
  align-items: center;
  user-select: none;
}
.custom-parcels-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #adb5bd;
  border-radius: 3px;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
}
.custom-parcels-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #0b76ef;
}
.custom-parcels-checkbox:not(:disabled):active + label::before {
  background-color: #0b76ef;
  border-color: #0b76ef;
}
/*.custom-parcels-checkbox:focus + label::before {*/
/*  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);*/
/*}*/
.custom-parcels-checkbox:focus:not(:checked) + label::before {
  border-color: #0b76ef;
}
.custom-parcels-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8389 0.159541C10.6241 -0.0531803 10.2759 -0.0531803 10.0611 0.159541L3.47175 6.68516L0.93892 4.17684C0.724141 3.96412 0.375922 3.96414 0.1611 4.17684C-0.0537001 4.38954 -0.0537001 4.73439 0.1611 4.94711L3.08284 7.84053C3.29756 8.05323 3.64603 8.05308 3.86066 7.84053L10.8389 0.929831C11.0537 0.717131 11.0537 0.372262 10.8389 0.159541Z' fill='white'/%3E%3C/svg%3E%0A");
}
.custom-parcels-checkbox:checked + label {
  color: #5081e9;
  background: #E5ECFC;
  box-shadow: 0 0 0 3px #e5ecfc;
}
.custom-parcels-checkbox:disabled + label::before {
  background-color: #e9ecef;
}
.parcels_list_btns {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.parcels_list_btn_add {
  background: #5081e9;
  border-radius: 12px;
  font-family: "Roboto-Medium";
  font-size: 14px;
  line-height: 114%;
  color: #ffffff;
  padding: 16px;
  min-width: 153px;
  text-align: center;
  transition: 0.3s;
}

.parcels_list_btn_add:hover {
  background-color: rgb(47 104 204);
}

@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1150px) {
}
